<div class="container heading">
    <div>
        <h4>
            CONGRATULATIONS, YOU’RE A WINNER OF THE 2015-2016
        </h4>
        <br/>
        <h1>
            PRESIDENT'S CLUB
        </h1>
    </div>
    <div class="lead">MARCH 1-5, 2016
        <div class="seal"></div> HONOLULU, HAWAII</div>
</div>
<div class="panel panel-default">
    <div class="form-heading">
        <div class="wave">
            <div>
                <div class="pull-right"></div>
                <span class="step"></span>
                <br/>
                <button type="button" class="btn btn-wave" ng-click="next('/')"><i class="fa fa-home"></i></button>
                <button type="button" class="btn btn-wave" style="width:150px;" ng-click="next('/overview')">OVERVIEW</button>
                <button type="button" class="btn btn-wave active" style="width:150px;">ACTIVITIES</button>
                <button type="button" class="btn btn-wave" style="width:150px;" ng-click="next('/faq')">FAQ</button>
            </div>
        </div>
    </div>
    <div class="panel-body no-pad">
        <div class="new-container">
            <div class="row margin-top-20">
                <div class="col col-md-11 col-xs-12">
                    <div class="info">
                        <h1 class="margin-bottom-20">Activities & Adventures</h1>
                        <h4 class="strong">The President’s Club and the island of Oahu offers something for everyone...</h4>
                    </div>
                </div>
            </div>
            <!-- Sailing & whale watch -->
            <hr class="hrTight" />
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <h3>SAILING AND WHALE WATCH</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 col-xs-7 info">
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left padding-top-10">
                            Exertion Level:
                        </div>
                        <div class="pull-left">
                            <img src="images/3.ee145d00.png" />
                        </div>
                    </div>
                    <br/>
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left">
                            Dates:
                        </div>
                        <div class="pull-left">
                            Thursday, March 3, 2016
                        </div>
                    </div>
                    <div class="margin-top-20">
                        <p class="normal bump">Makani is a 65-foot lavish sailing cat built by Gold Coast Yachts in St. Croix, U.S. Virgin Islands. From stern to bow, port to starboard, no expense has been spared to make the world-class Makani among the most maneuverable and fastest vessels crafted while still residing in a class all its own and resplendent with elegant amenities.</p>
                        <p class="normal bump">Hawai'i is known as one of the world's great whale watch locations, famous for the majestic humpback whales that migrate here for the winter and spring calving season. Their dramatic reproductive behavior, mating competition among the males, and underwater singing are fascinating to see and hear - especially from the deck of a boat. The captain and crew are trained naturalists and offer fascinating whale and dolphin facts during the cruise.</p>
                    </div>
                </div>
                <div class="col col-md-5 col-xs-6">
                    <div class="padding-top-10">
                        <img src="images/sailing.125e26d2.jpg">
                    </div>
                    <div class="margin-top-30">
                        <img src="images/whale.3756bcef.jpg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <div class="margin-bottom-10">
                        <a ng-click="mi1 = !mi1"><i ng-class="{'fa fa-angle-right' : !mi1, 'fa fa-angle-down' : mi1 }"></i> 
                        <span ng-show="!mi1">More Information</span>
                        <span ng-show="mi1">Less Information</span></a>
                    </div>
                    <div class="padding-left-10" ng-show="mi1">
                        <span class="strong">Timing is 9:00 AM - 12:00 PM</span>
                        <ul>
                            <li>9:00 AM Depart from hotel to Kewalo Basin</li>
                            <li>9:30 AM 2-hour activity</li>
                            <li>11:30 AM Return to pier</li>
                            <li>12:00 PM Arrive at hotel</li>
                        </ul>
                        <span class="strong">Inclusions</span>
                        <ul>
                            <li>Exclusive round trip transfers via deluxe, air-conditioned vehicles</li>
                            <li>Exclusive charter of vessel for two hours</li>
                            <li>On-board music system to play a variety of music</li>
                            <li>Open bar of juice, soft drinks, Mimosas, and Bloody Mary's</li>
                            <li>Continental breakfast including coffee, tea, pastries, fresh fruit, and dry snacks</li>
                            <li>Gratuity to crew</li>
                            <li>Hawai'i state tax</li>
                        </ul>
                        <span class="strong">Notes</span>
                        <ul>
                            <li>Wear casual clothes, T-shirt, hat, sunglasses, and sunscreen</li>
                            <li>Bring a light jacket, and waterproof camera</li>
                            <li>Must be moderately fit without physical challenges</li>
                        </ul>
                        <span class="strong">Cancellation</span>
                        <ul>
                            <li><span class="notification">Changes to activities must be made prior to February 3, 2016 or you will be personally charged for the change fees.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- SURF & CANOE WITH WAIKIKI BEACH BOYS -->
            <hr class="hrTight" />
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <h3>SURF & CANOE WITH WAIKIKI BEACH BOYS</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 col-xs-7 info">
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left padding-top-10">
                            Exertion Level:
                        </div>
                        <div class="pull-left">
                            <img src="images/6.6566ee39.png" />
                        </div>
                    </div>
                    <br/>
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left">
                            Dates:
                        </div>
                        <div class="pull-left">
                            Friday, March 4, 2016
                        </div>
                    </div>
                    <div class="margin-top-20">
                        <p class="normal bump">
                            The original Waikīkī beach boys of the 1920’s were water sports instructors who taught visitors how to surf, catch waves in an outrigger canoe, and enjoy the Hawaiian culture. They were known for their charm and their love of Hawai`i, which they instilled in the tourists they befriended. As a result, the beach boys became a symbol of aloha, and helped draw tourists to the islands. Today, surfing lessons and canoe rides are still conducted by these ambassadors of aloha.
                        </p>
                        <p class="normal bump">
                            You’ll be escorted to the famed surfing spots of “Canoes” or “Baby Royal” where Hawai`i’s legend, Duke Kahanamoku, surfed on his heavy koa board. With your instructors leading the way, you’ll feel the “rush” as you paddle to catch a wave. Experience the joy and freedom of riding it all the way in, or, take a ride in a real Hawaiian outrigger canoe. </p>
                        <p class="normal bump">
                            After your fun in the sun, relax in the shade at Duke’s Canoe Club. Enjoy a refreshing tropical mai tai and island style lunch as you watch beach-goers trying their hand at the very skills you’ve just mastered!
                        </p>
                    </div>
                </div>
                <div class="col col-md-5 col-xs-6">
                    <div class="padding-top-10">
                        <img src="images/surf1.c11bc323.jpg">
                    </div>
                    <div class="margin-top-30">
                        <img src="images/surf2.c8e60ddc.jpg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <div class="margin-bottom-10">
                        <a ng-click="mi2 = !mi2"><i ng-class="{'fa fa-angle-right' : !mi2, 'fa fa-angle-down' : mi2 }"></i> 
                        <span ng-show="!mi2">More Information</span>
                        <span ng-show="mi2">Less Information</span></a>
                    </div>
                    <div class="padding-left-10" ng-show="mi2">
                        <span class="strong">Timing is 8:45 AM - 1:15 PM</span>
                        <ul>
                            <li>8:45 AM Depart from hotel</li>
                            <li>9:00 AM Check in at Waikiki Beach</li>
                            <li>9:15 AM - 9:45 AM 1st Group of (5) canoers</li>
                            <li>10:00 AM - 11:00 AM Surfing Lessons for group of 10</li>
                            <li>11:15 AM - 11:45 AM 2nd Group of 15 canoers</li>
                            <li>12:00 PM 1-hour lunch at Duke's Canoe Club</li>
                            <li>1:15 PM Arrive at hotel</li>
                        </ul>
                        <span class="strong">Inclusions</span>
                        <ul>
                            <li>Exclusive round trip transfers via deluxe, air-conditioned vehicles</li>
                            <li>Exclusive 1-hour surfing lessons with use of soft surfboards and/or long boards</li>
                            <li>Exclusive 30-minute outrigger canoe rides (5 canoers per ride)</li>
                            <li>Use of umbrellas and beach choirs</li>
                            <li>Set lunch menu at Duke's in a reserved area</li>
                            <li>Coordination of event</li>
                            <li>Hawai'i state tax</li>
                        </ul>
                        <span class="strong">Notes</span>
                        <ul>
                            <li>Wear swimsuit under shorts, T-shirt, hat, sunglasses, and sunscreen</li>
                            <li>Bring a towel and waterproof camera</li>
                            <li>Towels must be arranged through the hotel</li>
                            <li>Leave valuables at the hotel as they would be unattended during the lesson</li>
                            <li>Must be moderately fit without physical challenges</li>
                        </ul>
                        <span class="strong">Cancellation</span>
                        <ul>
                            <li><span class="notification">Changes to activities must be made prior to February 3, 2016 or you will be personally charged for the change fees.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- SUBMARINE EXPLORATION -->
            <hr class="hrTight" />
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <h3>SUBMARINE EXPLORATION</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 col-xs-7 info">
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left padding-top-10">
                            Exertion Level:
                        </div>
                        <div class="pull-left">
                            <img src="images/2.e64c65df.png" />
                        </div>
                    </div>
                    <br/>
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left">
                            Dates:
                        </div>
                        <div class="pull-left">
                            Thursday, March 3, 2016
                            <br/>Friday, March 4, 2016
                        </div>
                    </div>
                    <div class="margin-top-20">
                        <p class="normal bump">
                            Board a specially-designed 5-million dollar underwater viewing vessel. You 'll descend to depths of over 100 feet where you'll stay submerged for approximately 40 minutes! Unlike a glass bottom boat tour. these submarines can actually hover over the ocean floor. Large window ports are located at every seat and the cabin is fully air-conditioned with ample ventilation.
                        </p>
                        <p class="normal bump">
                            You'll see fish from a vantage point unavailable to you through other means. Even scuba divers would have difficulty submerging to this depth and staying down for this length of time. You'll have a front row seat to the sea life that darts among the reefs off Waikiki as well as one of the largest sunken ships in the waters of O'ahu.
                        </p>
                    </div>
                </div>
                <div class="col col-md-5 col-xs-6">
                    <div class="padding-top-10">
                        <img src="images/sub1.f097f2c1.jpg">
                    </div>
                    <div class="margin-top-30">
                        <img src="images/sub2.4be3212f.jpg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <div class="margin-bottom-10">
                        <a ng-click="mi3 = !mi3"><i ng-class="{'fa fa-angle-right' : !mi3, 'fa fa-angle-down' : mi3 }"></i> 
                        <span ng-show="!mi3">More Information</span>
                        <span ng-show="mi3">Less Information</span></a>
                    </div>
                    <div class="padding-left-10" ng-show="mi3">
                        <span class="strong">Timing is 10:00 AM - 1:15 PM</span>
                        <ul>
                            <li>10:00 AM Depart hotel</li>
                            <li>10:30 AM Check in at the Hilton Hawaiian Village</li>
                            <li>11:00 AM Dive time - shuttle boat departs from Hilton Pier</li>
                            <li>11:15 AM 15-minute shuttle boat arrives at submarine (allow 15-minutes to board submarine)</li>
                            <li>12:15P M Submarine surfaces after 45-minute dive (allow 15-minutes to board shuttle boat)</li>
                            <li>12:45 PM 15-minute shuttle boat arrives at Hilton pier</li>
                            <li>1:15 PM Return to hotel</li>
                        </ul>
                        <span class="strong">Inclusions</span>
                        <ul>
                            <li>Exclusive round trip transportation via deluxe. air-conditioned vehicles</li>
                            <li>30-minute orientation and safety briefing at Atlantis ticket booth located in the Hilton 's Ali'i</li>
                            <li>Tower next to Tropics Café</li>
                            <li>Round trip ferryboat ride to and from submarine (15 minutes each way)</li>
                            <li>45-minute submarine dive</li>
                            <li>Hawai'i state tax</li>
                        </ul>
                        <span class="strong">Notes</span>
                        <ul>
                            <li>Guests on this tour must be at least three feet tall to board the submarine and must be physically capable of ascending and descending a near vertical ladder in order to enter and exit the submarine.</li>
                        </ul>
                        <span class="strong">Cancellation</span>
                        <ul>
                            <li><span class="notification">Changes to activities must be made prior to February 3, 2016 or you will be personally charged for the change fees.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ARIZONA MEMORIAL & BATTLESHIP MISSOURI -->
            <hr class="hrTight" />
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <h3>ARIZONA MEMORIAL & BATTLESHIP MISSOURI</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 col-xs-7 info">
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left padding-top-10">
                            Exertion Level:
                        </div>
                        <div class="pull-left">
                            <img src="images/2.e64c65df.png" />
                        </div>
                    </div>
                    <br/>
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left">
                            Dates:
                        </div>
                        <div class="pull-left">
                            Friday, March 4, 2016
                        </div>
                    </div>
                    <div class="margin-top-20">
                        <p class="normal bump">
                            The Arizona Memorial and Battleship Missouri are visual reminders of both the triumphs and sacrifices we faced in World War II. For Hawai'i, the war began when Pearl Harbor was bombed. Your visit to the Arizona Memorial will take you back in time. Throughout that dark day, there were many acts of heroism that we can still celebrate.
                        </p>
                        <p class="normal bump">
                            Fast forward to the teak decks of the big Battleship Missouri. Here, the war ended when the Japanese signed the surrender documents. We had secured our place once again as the protector of our country's waterways and the world's oceans. By visiting both the memorial and the battleship, you'll have a complete picture of the era.
                        </p>
                    </div>
                </div>
                <div class="col col-md-5 col-xs-6">
                    <div class="padding-top-10">
                        <img src="images/battle1.2718c35f.jpg">
                    </div>
                    <div class="margin-top-30">
                        <img src="images/battle2.f1073a24.jpg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <div class="margin-bottom-10">
                        <a ng-click="mi4 = !mi4"><i ng-class="{'fa fa-angle-right' : !mi4, 'fa fa-angle-down' : mi4 }"></i> 
                        <span ng-show="!mi4">More Information</span>
                        <span ng-show="mi4">Less Information</span></a>
                    </div>
                    <div class="padding-left-10" ng-show="mi4">
                        <span class="strong">Timing is 10:00 AM - 3:30 PM</span>
                        <ul>
                            <li>10:00 AM Depart from hotel</li>
                            <li>10:45 AM Tour of Battleship Missouri</li>
                            <li>12:00 PM Boxed lunch</li>
                            <li>1:15 PM Audio tour of Arizona Memorial</li>
                            <li>3:30 PM Arrive at hotel</li>
                        </ul>
                        <span class="strong">Inclusions</span>
                        <ul>
                            <li>Exclusive round trip transportation via deluxe. air-conditioned vehicles</li>
                            <li>Narrated tour by driver-guide</li>
                            <li>Stop at Pearl Harbor for tour of Arizona Memorial</li>
                            <li>Use of audio guide (headset) at Arizona Museum</li>
                            <li>Shuttle transfer from Arizona Memorial to Battleship Missouri</li>
                            <li>Admission fee at the Battleship Missouri with guided tour</li>
                            <li>Boxed lunch</li>
                            <li>Gratuity to driver-guide</li>
                            <li>Hawai'i state tax</li>
                        </ul>
                        <span class="strong">Notes</span>
                        <ul>
                            <li>Wear comfortable clothing (no swimsuits on Memorial) and walking shoes</li>
                            <li>Bring a light jacket, camera, and photo l.D.</li>
                            <li>Security regulations fluctuate and it is suggested that bags and large personal items be left at the hotel</li>
                        </ul>
                        <span class="strong">Cancellation</span>
                        <ul>
                            <li><span class="notification">Changes to activities must be made prior to February 3, 2016 or you will be personally charged for the change fees.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- TROPICAL NATURE HIKE -->
            <hr class="hrTight" />
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <h3>TROPICAL NATURE HIKE</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 col-xs-7 info">
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left padding-top-10">
                            Exertion Level:
                        </div>
                        <div class="pull-left">
                            <img src="images/6.6566ee39.png" />
                        </div>
                    </div>
                    <br/>
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left">
                            Dates:
                        </div>
                        <div class="pull-left">
                            Friday, March 4, 2016
                        </div>
                    </div>
                    <div class="margin-top-20">
                        <p class="normal bump">
                            This adventure will fulfill all your fantasies about Hawaii's lush rainforests, giant ferns, cascading tropical waterfalls, picturesque streams and unique species that can be found nowhere else on Earth. This trail, a hidden treasure that was used by Spielberg while filming "Jurassic Park", leads to the tallest accessible waterfall on Oahu, deep within a prehistoric Landscape. Observe Hawaii's rainforest plants and birds as we walk into a wide valley inside the lush Ko'olau Mountains and visit this secluded waterfall. On this educational and fun hike you will learn about the Hawaiian' s use of various plant species and the area's interesting environmental history.
                        </p>
                    </div>
                </div>
                <div class="col col-md-5 col-xs-6">
                    <div class="padding-top-10">
                        <img src="images/tropic1.5ecee211.jpg">
                    </div>
                    <div class="margin-top-30">
                        <img src="images/tropic2.84418c9c.jpg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <div class="margin-bottom-10">
                        <a ng-click="mi5 = !mi5"><i ng-class="{'fa fa-angle-right' : !mi5, 'fa fa-angle-down' : mi5 }"></i> 
                        <span ng-show="!mi5">More Information</span>
                        <span ng-show="mi5">Less Information</span></a>
                    </div>
                    <div class="padding-left-10" ng-show="mi5">
                        <span class="strong">Timing is 9:00 AM -1:00 PM</span>
                        <ul>
                            <li>9:00 AM Depart from hotel</li>
                            <li>10:00 AM 2-hour activity</li>
                            <li>12:00 PM Depart from activity</li>
                            <li>1 :00 PM Arrive at hotel</li>
                        </ul>
                        <span class="strong">Inclusions</span>
                        <ul>
                            <li>Exclusive round trip transfers via deluxe, air-conditioned vehicles</li>
                            <li>Professional nature guides</li>
                            <li>Exclusive 2-mile hike</li>
                            <li>Boxed lunch, bottled water, and energy bar</li>
                            <li>Hiking staff and rain poncho if needed</li>
                            <li>Gratuity to guides</li>
                            <li>Hawai'i state tax</li>
                        </ul>
                        <span class="strong">Notes</span>
                        <ul>
                            <li>Wear shorts, T-shirt, hat, sunglasses, sunscreen, and hiking boots or athletic shoes (you will get muddy)</li>
                            <li>Bring a camera</li>
                            <li>Must be moderately fit without physical challenges, able to walk two miles over uneven/unpaved slippery surfaces, and able to climb stairs or mildly steep terrain</li>
                            <li>This is a moderate hike with an elevation gain of 500 feet</li>
                            <li>Not for pregnant women, people with walking difficulties, or people with back/neck problems</li>
                        </ul>
                        <span class="strong">Cancellation</span>
                        <ul>
                            <li><span class="notification">Changes to activities must be made prior to February 3, 2016 or you will be personally charged for the change fees.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- LITTLE CIRCLE ISLAND TOUR -->
            <hr class="hrTight" />
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <h3>LITTLE CIRCLE ISLAND TOUR</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 col-xs-7 info">
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left padding-top-10">
                            Exertion Level:
                        </div>
                        <div class="pull-left">
                            <img src="images/3.ee145d00.png" />
                        </div>
                    </div>
                    <br/>
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left">
                            Dates:
                        </div>
                        <div class="pull-left">
                            Thursday, March 3, 2016
                        </div>
                    </div>
                    <div class="margin-top-20">
                        <p class="normal bump">
                            O'ahu's western shore is a sunny playground dotted with little oases of green. As you head east, the vistas change with some areas lending a more "jungle" feel. </p>
                        <p class="normal bump">
                            But before you hit the tree line, you'll cruise along the southeastern coast. One of her spectacular gems is the circular-shaped shore of Hanauma. This bay was once a volcanic crater, which has now become a marine preserve. </p>
                        <p class="normal bump">
                            Just down the coast, you'll visit Halona. This blowhole is a natural occurrence formed by molten lava tubes from volcanic eruptions thousands of years ago. The lava tubes run to the ocean and, when the surf is right. the blowhole shoots water up to 30 feet in the air. The larger the waves, the larger the spray!</p>
                        <p class="normal bump">
                            The drive continues through the beachside town of Waimanalo and lastly a stop at the Pali Lookout. A site of deep historical significance, "Poli" meaning 'cliff' in Hawaiian, is the site of the Battle of Nuuanu. This fierce battle claimed hundreds of soldiers' lives, many of which were forced off of the Pali 's sheer cliffs.</p>
                    </div>
                </div>
                <div class="col col-md-5 col-xs-6">
                    <div class="padding-top-10">
                        <img src="images/lcIsland1.fd956816.jpg">
                    </div>
                    <div class="margin-top-30">
                        <img src="images/lcIsland2.fa7b706f.jpg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <div class="margin-bottom-10">
                        <a ng-click="mi6 = !mi6"><i ng-class="{'fa fa-angle-right' : !mi6, 'fa fa-angle-down' : mi6 }"></i> 
                        <span ng-show="!mi6">More Information</span>
                        <span ng-show="mi6">Less Information</span></a>
                    </div>
                    <div class="padding-left-10" ng-show="mi6">
                        <span class="strong">Timing is 8:30 AM -12:30 PM</span>
                        <ul>
                            <li>8:30 AM Depart hotel</li>
                            <li>9:00 AM Drive by Hanauma Bay</li>
                            <li>9:30 AM Arrive at Halona Blow Hole</li>
                            <li>11 :00 AM Arrive at the Pali Lookout</li>
                            <li>12:30 PM Arrive at hotel</li>
                        </ul>
                        <span class="strong">Inclusions</span>
                        <ul>
                            <li>Exclusive round-trip transportation via deluxe, air-conditioned vehicles</li>
                            <li>Narrated tour</li>
                            <li>Drive by of Hanauma Bay</li>
                            <li>Stop for viewing at Halona Blowhole</li>
                            <li>Stop for viewing at Pali Lookout</li>
                            <li>Gratuity to driver-guide</li>
                            <li>Hawai'i state tax</li>
                        </ul>
                        <span class="strong">Notes</span>
                        <ul>
                            <li>Wear comfortable clothing and walking shoes</li>
                            <li>Bring a light jacket and camera</li>
                        </ul>
                        <span class="strong">Cancellation</span>
                        <ul>
                            <li><span class="notification">Changes to activities must be made prior to February 3, 2016 or you will be personally charged for the change fees.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- GOLF AND THE ROYAL HAWAIIAN COUNTRY CLUB -->
            <hr class="hrTight" />
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <h3>GOLF AND THE ROYAL HAWAIIAN COUNTRY CLUB</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 col-xs-7 info">
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left padding-top-10">
                            Exertion Level:
                        </div>
                        <div class="pull-left">
                            <img src="images/4.a28006ef.png" />
                        </div>
                    </div>
                    <br/>
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left">
                            Dates:
                        </div>
                        <div class="pull-left">
                            Thursday, March 3, 2016
                        </div>
                    </div>
                    <div class="margin-top-20">
                        <p class="normal bump">
                            The Royal Hawaiian Country Club has 18 holes, par 72 and 6,595 yards. Located in the back of beautiful Maunawili Valley on the windward side of O'ahu, the Royal Hawaiian Country Club is the first course in Hawai'i designed by Perry Dye and his famous brother, Pete - one of the most accomplished golf architects in America. The Dye brothers incorporated many of their trademark design features, including a variety of forced carries off the tee, bunkers bordered by railroad ties, par-3's over water to island greens, and fairways that fall off steeply into bunkers and ravines. </p>
                        <p class="normal bump">The Royal Hawaiian Country Club is set in awesome natural surroundings beneath the deep green folds of the Ko'olau Mountains. The front nine plays across the lower slopes of Mount Olomana, while the back nine wends its way through a tropical rainforest with dramatic changes in elevation. Locals refer to it as "Jurassic Park" because there are few signs of civilization, only the surrounding forest and the mountain peaks overhead. Don't let the beauty consume you - the Royal Hawaiian Country Club is a challenging high risk/high rewards course.</p>
                    </div>
                </div>
                <div class="col col-md-5 col-xs-6">
                    <div class="padding-top-10">
                        <img src="images/golf1.7f951981.jpg">
                    </div>
                    <div class="margin-top-30">
                        <img src="images/golf2.2c4e6a7f.jpg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <div class="margin-bottom-10">
                        <a ng-click="mi7 = !mi7"><i ng-class="{'fa fa-angle-right' : !mi7, 'fa fa-angle-down' : mi7 }"></i> 
                        <span ng-show="!mi7">More Information</span>
                        <span ng-show="mi7">Less Information</span></a>
                    </div>
                    <div class="padding-left-10" ng-show="mi7">
                        <span class="strong">Timing is 6:30 AM - 2:00 PM</span>
                        <ul>
                            <li>6:30 AM Depart from hotel</li>
                            <li>7:00 AM Arrive at course</li>
                            <li>1:30 PM Depart from course</li>
                            <li>2:00 PM Arrive at hotel</li>
                        </ul>
                        <span class="strong">Inclusions</span>
                        <ul>
                            <li>Exclusive round trip transfers via deluxe, air-conditioned vehicles</li>
                            <li>18-hole of golf course</li>
                            <li>Motorized golf cart on a share-basis</li>
                            <li>Hawai'i state tax</li>
                        </ul>
                        <span class="strong">Notes</span>
                        <ul>
                            <li>Shoe rental at $10.00 (Nike)</li>
                            <li>Club rental at $65.00 (Taylormade} includes (2) sleeves of balls</li>
                            <li>Practice range</li>
                            <li>Lessons and clinics</li>
                        </ul>
                        <span class="strong">Cancellation</span>
                        <ul>
                            <li><span class="notification">Changes to activities must be made prior to February 3, 2016 or you will be personally charged for the change fees.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- DOLPHIN ENCOUNTER -->
            <hr class="hrTight" />
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <h3>VIP EXCLUSIVE DOLPHIN ENCOUNTER</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 col-xs-7 info">
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left padding-top-10">
                            Exertion Level:
                        </div>
                        <div class="pull-left">
                            <img src="images/4.a28006ef.png" />
                        </div>
                    </div>
                    <br/>
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left">
                            Dates:
                        </div>
                        <div class="pull-left">
                            Thursday, March 3, 2016
                            <br/>Friday, March 4, 2016
                        </div>
                    </div>
                    <div class="margin-top-20">
                        <p class="normal bump">
                            Join our amazing dolphins in the blue lagoons of the Kahala Hotel & Resort. Enjoy an up-close and personal experience you’ll never forget. The guests will spend 25 minutes in the water with the dolphins. The first 5 minutes will be spent with the trainer learning how we use positive reinforcement when interacting with our animals. Once in the water, our dolphins come to the guests for a close-up look and hands-on greeting as you wade into their ocean water lagoon. They will swim alongside our dolphins and enjoy underwater and above-water views. Everyone will feed our dolphins, touch them, play with them, and swim with them. Guests will interact with dolphins in a small, intimate group of no more than 6 people and your trainer. </p>
                        <p class="normal bump">Each Dolphin Encounter is unique, different, fun – and always extraordinary! Great personalized photos will be taken of the guests and the dolphins to share with friends and family. There will be over 50 photos taken per group of 5-6 guests. All the digital photos are included in the package and will be emailed to the guests via a link.</p>
                    </div>
                </div>
                <div class="col col-md-5 col-xs-6">
                    <div class="padding-top-10">
                        <img src="images/Dolphin_1.15998e11.jpg">
                    </div>
                    <div class="margin-top-30">
                        <img src="images/Dolphin_2.205ecee4.jpg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <div class="margin-bottom-10">
                        <a ng-click="mi8 = !mi8"><i ng-class="{'fa fa-angle-right' : !mi8, 'fa fa-angle-down' : mi8 }"></i> 
                        <span ng-show="!mi8">More Information</span>
                        <span ng-show="mi8">Less Information</span></a>
                    </div>
                    <div class="padding-left-10" ng-show="mi8">
                        <span class="strong">Timing is 1:30 PM - 2:30 PM</span>
                        <ul>
                            <li>1:30 PM Check-in</li>
                        </ul>
                        <span class="strong">Inclusions</span>
                        <ul>
                            <li>Up-close, interactive in-water dolphin experience</li>
                            <li>Chance to feed, touch, play & swim with dolphins. Guests wear life jackets and do not submerge to swim underwater.</li>
                            <li>Learn about dolphin behavior, evolution & anatomy</li>
                            <li>Over 50 digital photos will be yours to keep</li>
                        </ul>
                        <span class="strong">Notes</span>
                        <ul>
                            <li>Group size is 5-6 guests per trainer and dolphin</li>
                            <li>Upon check-in, waiver forms are required to be completed by all participants</li>
                            <li>Swim attire required</li>
                            <li>Bring a towel. Towels are available at Kahala Pool Kiosk near Dolphin Quest</li>
                            <li>No cameras or GoPro cameras are allowed</li>
                            <li>All Digital Photos will be sent to email provided. Printed photos are available for $10 per print.</li>
                        </ul>
                        <span class="strong">Cancellation</span>
                        <ul>
                            <li><span class="notification">Changes to activities must be made prior to February 3, 2016 or you will be personally charged for the change fees.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="hrTight" />
            <!-- SPA DAY -->
            <div class="row">
                <div class="col col-md-11 col-xs-12 info">
                    <h3>SPA DAY AT THE KAHALA RESORT</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6 col-xs-7 info">
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left padding-top-10">
                            Exertion Level:
                        </div>
                        <div class="pull-left">
                            <img src="images/1.f4069985.png" />
                        </div>
                    </div>
                    <br/>
                    <div class="normal strong clearfix">
                        <div class="width-120 pull-left">
                            Dates:
                        </div>
                        <div class="pull-left">
                            Thursday, March 3, 2016
                            <br/>Friday, March 4, 2016
                        </div>
                    </div>
                    <div class="margin-top-20">
                        <p class="normal bump">
                            <span class="strong">Swedish Massage</span> - This one hour treatment is a fairly light pressure, total body relaxing massage treatment. Your therapist will blend Hawaiian rainforest natural lotions and Kukui oils for a luxurious spa treatment.
                        </p>
                        <p class="normal bump">
                            <span class="strong">Eminence Organic Facial</span> - This one hour treatment will be tailored to your needs after your consultation with the esthetician. Eminence organic facial products are made with fresh fruit pulps, plants and exotic spices from organic environments making them incredibly nutrient right and results oriented.
                            <br/>
                            <br/>If you are interested in this activity, you must sign-up for a specific day and time upon your arrival at the hotel, or contact <a href="mailto:corinne_vario@agilent.com">Corinne Vario</a> if you want to schedule it prior to your arrival.
                        </p>
                    </div>
                </div>
                <div class="col col-md-5 col-xs-6">
                    <div class="padding-top-10">
                        <img src="images/Spa_1.0ee850b3.jpg">
                    </div>
                    <div class="margin-top-30">
                        <img src="images/Spa_2.1d15cc28.jpg">
                    </div>
                </div>
            </div>
            <hr class="hrTight margin-top-50" />
            <div class="panel-footer-signup">
                <h4>SIGN UP TO REGISTER FOR YOUR VACATION </h4>
                <p>
                    The event sign up process has several steps that must be followed in order to register completely.
                    <br/>Click the "Sign Up Now!" button to find out what you must do to participate in the President's Club celebration.
                </p>
                <p>
                    <button type="button" class="btn btn-approve padding-left-30 padding-right-30" ng-click="next('/overview')">SIGN UP NOW!</button>
                    <br/>
                    <span class="small-yellow">You must register by January 16, 2016</span></p>
            </div>
        </div>
    </div>
</div>
