<div class="container heading">
    <div>
        <h4>
            CONGRATULATIONS, YOU’RE A WINNER OF THE 2015-2016
        </h4>
        <br/>
        <h1>
            PRESIDENT'S CLUB
        </h1>
    </div>
    <div class="lead">MARCH 1-5, 2016
        <div class="seal"></div> HONOLULU, HAWAII</div>
</div>
<div class="panel panel-default margin-top-50">
    <div class="form-heading">
        <div class="wave">
            <div>
                <div class="pull-right"></div>
                <span class="step"></span>
                <br/>
                <!-- <span class="step-name">THE AWARD</span> -->
                <button type="button" class="btn btn-wave active"><i class="fa fa-home"></i></button>
                <button type="button" class="btn btn-wave" style="width:150px;" ng-click="next('/overview')">OVERVIEW</button>
                <button type="button" class="btn btn-wave" style="width:150px;" ng-click="next('/activities')">ACTIVITIES</button>
                <button type="button" class="btn btn-wave" style="width:150px;" ng-click="next('/faq')">FAQ</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row margin-top-20">
                <div class="col col-md-7 col-xs-7">
                    <div class="info">
                        <h1>Aloha & Congratulations!</h1>
                        <p class="normal">
                            I am delighted to welcome you to Agilent Technologies 2015-2016 President’s Club Program. The President’s Club event allows the management team to recognize your achievements, thank you for your contributions and build excitement about our future. I am also pleased to extend a special invitation to your guests as I know the important role they play in supporting your success as a President’s Club winner.
                        </p>
                        <p class="normal">
                            This year’s program starts on Tuesday, March 1, 2016 and ends on Monday morning, March 5, 2016 at the pristine Kahala Resort in Honolulu. My wife Dolores and I look forward to seeing you in Oahu.
                        </p>
                        <p class="normal">
                            Mahalo!
                        </p>
                        <p>
                            <img src="images/signature.23c8ff84.jpg">
                        </p>
                    </div>
                </div>
                <div class="col col-md-4 col-xs-4">
                    <img src="images/mike.f608c6d0.jpg" class="scalable-img margin-top-20">
                    <div class="margin-top-30 center">
                        <button type="button" class="btn btn-approve btn-block" ng-click="next('/overview')">SIGN UP NOW!</button>
                        <br/>
                        <span class="small-yellow">You must register by January 15, 2016</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-heading">
        <div class="wave" style="height:15px;"></div>
    </div>
    <div class="margin-20"></div>
</div>
<div class="container wide neg-margin-left-100 margin-top-50">
    <h3>THE RESORT</h3>
    <h1 class="margin-top-10 margin-bottom-30">THE KAHALA RESORT</h1>
    <p class="margin-bottom-30" style="width:780px;">
        The Kahala Hotel & Resort is Hawaii’s reigning luxury resort among hotels in Honolulu, set on a white sand beach just ten minutes from the world-class shopping and entertainment of Waikiki, Oahu. This legendary hideaway Hawaii resort in Honolulu's plush Kahala district is a favorite with presidents, international royalty, and celebrities.
    </p>
    <p class="margin-top-30 margin-bottom-30" style="width:310px;">
        <button type="button" class="btn btn-blue btn-block">
            <span>
                <i style="font-size:0.8em;font-weight:300">visit the</i> <br/>
            </span>
            <span>
                KAHALA RESORT WEBSITE
            </span>
            <div style="float: right;margin-top:-13px;"><i class="fa fa-angle-right"></i></div>
        </button>
    </p>
</div>
<div class="container neg-margin-left-100 margin-top-100">
    <div class="col col-md-4 col-xs-4 padding-left-0">
        <div class="panel panel-default">
            <div class="form-heading">
                <div class="wave tight">
                </div>
            </div>
            <div class="panel-body green">
                <p class="strong">
                    THINGS TO DO
                </p>
                <p>
                    Oahu has so much to offer and The President’s Club has arranged for a number of amazing adventures:
                </p><br/>
                <ul class="padding-left-20">
                    <li>Spa Day at the Kahala</li>
                    <li>VIP Exclusive Dolphin Encounter</li>
                    <li>Sailing & Whale Watch</li>
                    <li>Surf & Canoe with the Waikiki Beach Boys</li>
                    <li>Submarine Exploration</li>
                    <li>And more...</li>
                </ul>
                <button type="button" class="btn btn-blue padding-left-20 padding-right-20">
                    VIEW ACTIVITIES <i class="fa fa-angle-right"></i>
                </button>
            </div>
            <div class="form-heading">
                <div class="wave tight">
                </div>
                <div class="margin-10"></div>
            </div>
        </div>
    </div>
    <div class="col col-md-8 col-xs-8 home-heading padding-top-180 padding-left-100 margin-bottom-150">
        <h3>THE DESTINATION</h3>
        <h1 class="margin-top-10 margin-bottom-30">HONOLULU, HAWAII</h1>
        <p>
            Hawaii is a major tourist destination and Honolulu, situated on the island of Oahu, is the main gateway to Hawaii and a major gateway into the United States. The city is also a major hub for international business, military defense, as well as famously being host to a diverse variety of East-West and Pacific culture, cuisine, and traditions. Honolulu experiences a tropical savannah climate with a mostly dry summer season. Temperatures vary little throughout the months, with average high temperatures of 80–90 °F (27–32 °C) and average lows of 65–75 °F (18–24 °C) throughout the year.
        </p>
    </div>
</div>