<div class="container heading">
    <div>
        <h4>
            CONGRATULATIONS, YOU’RE A WINNER OF THE 2015-2016
        </h4>
        <br/>
        <h1>
            PRESIDENT'S CLUB
        </h1>
    </div>
    <div class="lead">MARCH 1-5, 2016
        <div class="seal"></div> HONOLULU, HAWAII</div>
</div>
<div class="panel panel-default">
    <div class="form-heading">
        <div class="wave">
            <div>
                <div class="pull-right"></div>
                <span class="step"></span>
                <br/>
                <!-- <span class="step-name">THE AWARD</span> -->
                <button type="button" class="btn btn-wave" ng-click="next('/')"><i class="fa fa-home"></i></button>
                <button type="button" class="btn btn-wave active" style="width:150px;">OVERVIEW</button>
                <button type="button" class="btn btn-wave" style="width:150px;" ng-click="next('/activities')">ACTIVITIES</button>
                <button type="button" class="btn btn-wave" style="width:150px;" ng-click="next('/faq')">FAQ</button>
            </div>
        </div>
    </div>
    <div class="panel-body no-pad">
        <div class="container">
            <div class="row margin-top-20">
                <div class="col col-md-11 col-xs-11">
                    <div class="info">
                        <h1 class="margin-bottom-20">What You Need to Know</h1>
                        <h4 class="strong">To participate in the 2015-2016 President’s Club, you MUST complete all three registration steps below. You will NOT be able to save your progress during the submission process, so please have all of your information ready prior to starting any of the registration forms.</h4>
                        <p class="normal">
                            You and your guest will be joining your peers and their guests in celebration and recognition of your contributions to Agilent Technologies in 2015. Pack your resort clothes, sunscreen, a hat, and prepare to immerse yourself in the unique Hawaiian hospitality of Oahu.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col col-md4 col-xs-4" style="width: 36%;">
                    <div class="info">
                        <p class="heading"><span class="bullet">1</span> TRAVEL REGISTRATION</p>
                        <p class="normal">
                            Winner's of the 2015-2016 President's Club must
                            <br/> register for travel by January 16, 2016. Travel
                            <br/> registration will be managed by HRG and winners
                            <br/> can register any time after December 11, 2015.
                        </p>
                        <p class="heading margin-top-30"><span class="bullet">2</span> TUXEDO RENTAL</p>
                        <p class="normal">
                            The main event of the President's Club celebration
                            <br/> is a black-tie affair, requiring each winner to dress
                            <br/> their finest. In order to ensure a good fit, please
                            <br/> be sure to submit your tuxedo rental form by January 16, 2016. <a data-toggle="modal" data-target="#tuxedoFaqModal">Read the Tuxedo Rental FAQ</a>
                        </p>
                        <p class="heading margin-top-30"><span class="bullet">3</span> PHOTO BOOK</p>
                        <p class="normal">
                            As part of the President's Club celebration,
                            <br/> winners and managers will receive a photo booklet
                            <br/> with their welcome packets. Please be sure to
                            <br/> submit your photo book form by January 16, 2016.
                        </p>
                    </div>
                </div>
                <div class="col col-md3 col-xs-3 center padding-left-40">
                    <div class="width-200" style="margin-top:65px;">
                        <button type="button" class="btn btn-approve btn-block" ng-click="gotoUrl('https://starciteap.smarteventscloud.com/register/m9896ce-11QT1VMOC852T')">REGISTER TRAVEL</button>
                        <div class="padding-top-5">
                            <span class="small-yellow">You must register by Jan 16, 2016</span>
                        </div>
                    </div>
                    <br/>
                    <div class="width-200" style="margin-top:78px;">
                        <button type="button" class="btn btn-approve btn-block" data-toggle="modal" data-target="#tuxedoModal">TUXEDO FORM</button>
                        <div class="padding-top-5">
                            <span class="small-yellow">You must submit by Jan 16, 2016</span>
                        </div>
                    </div>
                    <br/>
                    <div class="width-200" style="margin-top:97px;">
                        <button type="button" class="btn btn-approve btn-block" data-toggle="modal" data-target="#photobookModal">PHOTO BOOK FORM</button>
                        <div class="padding-top-5">
                            <span class="small-yellow">You must submit by Jan 16, 2016</span>
                        </div>
                    </div>
                </div>
                <div class="col col-md4 col-xs-4">
                    <div class="info">
                        <p class="heading" style="margin-top:15px;">
                            TIMELINE
                        </p>
                        <div>
                            <div class="pull-left">
                                <div class="timeline"></div>
                            </div>
                            <div class="pull-left" style="margin-left:-30px;">
                                <ul class="none margin-top-15">
                                    <li>
                                        DECEMBER 11, 2015
                                        <br/> <span class="detail">TRAVEL REGISTRATION OPEN</span>
                                    </li>
                                    <li style="margin-top:62px;">
                                        JANUARY 16, 2016
                                        <br/> <span class="detail">TRAVEL REGISTRATION CLOSED</span>
                                    </li>
                                    <li style="margin-top:60px;">
                                        JANUARY 16, 2016
                                        <br/> <span class="detail">TUXEDO RENTAL FORM DUE</span>
                                    </li>
                                    <li style="margin-top:60px;">
                                        JANUARY 16, 2016
                                        <br/> <span class="detail">PHOTO BOOK FORM DUE</span>
                                    </li>
                                    <li style="margin-top:60px;">
                                        FEBRUARY 29 & MARCH 1, 2016
                                        <br/> <span class="detail">DEPART FOR HAWAII</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-heading">
        <div class="wave">
            <div class="margin-top-20">
                <br/>
                <span class="step-name">CONTACT INFORMATION</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row margin-top-20">
                <div class="col col-md-6 col-xs-6 padding-left-40">
                    <h4 class="strong">Questions about the President’s Club:</h4>
                    <p class="normal">
                        <span class="strong">Dorothy Connell</span>
                        <br/> <a href="mailto:dorothy_connell@agilent.com">dorothy_connell@agilent.com</a>
                        <br/> 408-345-8261 (office)
                        <br/> 408-807-3300 (mobile)
                        <br/> 408-345-8891 (fax)
                        <br/>
                        <br/> <span class="strong">President's Club Program Manager</span>
                        <br/> ATTN: Dorothy Connell
                        <br/> 5301 Stevens Creek Boulevard, MS 1A-15
                        <br/> Santa Clara, CA 95051
                    </p>
                </div>
                <div class="col col-md-5 col-xs-5">
                    <h4 class="strong">Questions about your travel plans:</h4>
                    <p class="normal">
                        <span class="strong">Cathy Cortese at HRG Travel</span>
                        <br/> 1-855-747-3597, ext 1480
                        <br/> 7:30 am to 7:30 pm (CST)
                        <br/> <a href="mailto:agilent.na@hrgworldwide.com">agilent.na@hrgworldwide.com</a>
                        <br/>
                        <br/> <span class="strong">Note:</span> For international travel, please contact your local travel agency.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Photobook Form Modal -->
<div class="modal fade" id="photobookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-heading">
                    <div class="wave">
                        <div>
                            <br/>
                            <span class="step-name">PHOTO BOOK FORM</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container form">
                    <div class="row">
                        <div class="col col-md-11 col-xs-11">
                            <p>
                                Agilent Technologies President’s Club winners and managers will receive a photo booklet with their welcome packets.
                                <br/>Please respond to the questions below as concisely as possible.
                            </p>
                        </div>
                    </div>
                    <!-- WINNER ENTRY -->
                    <form name="userForm" ng-submit="postPhotobook()" novalidate>
                        <div class="row">
                            <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.first.$invalid && !userForm.first.$pristine }">
                                <span class="asterisk">*</span> First Name
                                <input type="text" name="first" class="form-control required" placeholder="" ng-model="photobookModel.first" required>
                                <p ng-show="userForm.first.$invalid && !userForm.first.$pristine" class="error">First name is required.</p>
                            </div>
                            <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.last.$invalid && !userForm.last.$pristine }">
                                <span class="asterisk">*</span> Last Name
                                <input type="text" name="last" class="form-control required" placeholder="" ng-model="photobookModel.last" required>
                                <p ng-show="userForm.last.$invalid && !userForm.last.$pristine" class="error">Last name is required.</p>
                            </div>
                            <div class="col col-md-3 col-xs-4">
                                <div class="pull-right"><span class="yellow">*</span> <span class="show-required">DENOTES REQUIRED FIELD</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-8 col-xs-8">
                                <span class="asterisk">*</span> Personal Photo
                                <p>
                                    You must send a digital head shot of high quality (300 dpi - jpeg format) for inclusion in the photo booklet. Please email your photo directly to <a href="mailto:terry_perez@agilent.com?bcc=michael_mihojevich@agilent.com&subject=Photobook%20picture%20submission.">terry_perez@agilent.com.</a>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.org.$invalid && !userForm.org.$pristine }">
                                <span class="asterisk">*</span> Business Group
                                <select class="form-control required" ng-required="true" name="salesOrg" ng-model="photobookModel.salesOrg" ng-options="item.name for item in salesOrg track by item.id" required>
                                    <option value="">Choose</option>
                                </select>
                                <p ng-show="userForm.salesOrg.$invalid && !userForm.salesOrg.$pristine" class="error">Business Group is required.</p>
                            </div>
                            <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.title.$invalid && !userForm.title.$pristine }">
                                <span class="asterisk">*</span> Job Title
                                <input type="text" name="title" class="form-control required" placeholder="" ng-model="photobookModel.title" required>
                                <p ng-show="userForm.title.$invalid && !userForm.title.$pristine" class="error">Title is required.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.mgrFirst.$invalid && !userForm.mgrFirst.$pristine }">
                                <span class="asterisk">*</span> Manager's First Name
                                <input type="text" name="mgrFirst" class="form-control required" placeholder="" ng-model="photobookModel.mgrFirst" required>
                                <p ng-show="userForm.mgrFirst.$invalid && !userForm.mgrFirst.$pristine" class="error">Manager's First is required.</p>
                            </div>
                            <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.mgrLast.$invalid && !userForm.mgrLast.$pristine }">
                                <span class="asterisk">*</span> Manager's Last Name
                                <input type="text" name="mgrLast" class="form-control required" placeholder="" ng-model="photobookModel.mgrLast" required>
                                <p ng-show="userForm.mgrLast.$invalid && !userForm.mgrLast.$pristine" class="error">Manager's Last Name is required.</p>
                            </div>
                        </div>
                        <!-- Comments -->
                        <div class="row">
                            <div class="col col-md-8 col-xs-8" ng-class="{ 'has-error' : userForm.like.$invalid && !userForm.like.$pristine }">
                                <span class="asterisk">*</span> What do you like most about Agilent? (50 words max)
                                <textarea name="like" class="form-control required" placeholder="" ng-model="photobookModel.comments.like" rows="5" cols="50" maximum-words-validation="50" required></textarea>
                                <p ng-show="userForm.like.$invalid && !userForm.like.$pristine" class="error">Comment is required.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-8 col-xs-8" ng-class="{ 'has-error' : userForm.goals.$invalid && !userForm.goals.$pristine }">
                                <span class="asterisk">*</span> List one of your goals for the next 5 years. (50 words max)
                                <textarea name="goals" class="form-control required" placeholder="" ng-model="photobookModel.comments.goals" rows="5" cols="50" maximum-words-validation="50" required></textarea>
                                <p ng-show="userForm.goals.$invalid && !userForm.goals.$pristine" class="error">Comment is required.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-8 col-xs-8" ng-class="{ 'has-error' : userForm.invision.$invalid && !userForm.invision.$pristine }">
                                <span class="asterisk">*</span> What direction do you envision Agilent taking in the next 5 years? (50 words max)
                                <textarea name="invision" class="form-control required" placeholder="" ng-model="photobookModel.comments.invision" rows="5" cols="50" maximum-words-validation="50" required></textarea>
                                <p ng-show="userForm.invision.$invalid && !userForm.invision.$pristine" class="error">Comment is required.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-8 col-xs-8" ng-class="{ 'has-error' : userForm.hobbies.$invalid && !userForm.hobbies.$pristine }">
                                <span class="asterisk">*</span> What are your hobbies and pastimes? (50 words max)
                                <textarea name="hobbies" class="form-control required" placeholder="" ng-model="photobookModel.comments.hobbies" rows="5" cols="50" maximum-words-validation="50" required></textarea>
                                <p ng-show="userForm.hobbies.$invalid && !userForm.hobbies.$pristine" class="error">Comment is required.</p>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col col-md-11 col-xs-11">
                                <button type="button" class="btn btn-cancel pull-left" data-dismiss="modal" aria-label="Close" ng-click="cancelModal('photo')">CANCEL</button>
                                <button type="submit" class="btn btn-form pull-right" ng-disabled="userForm.$invalid">SUBMIT FORM <i class="fa fa-angle-right fa-lg"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Photobook Form Response Modal -->
<div class="modal fade" id="photobookModalResponse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-heading">
                    <div class="wave">
                        <div>
                            <br/>
                            <span class="step-name">PHOTO BOOK FORM</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container form">
                    <div class="row">
                        <div class="col col-md-11 col-xs-11 center" ng-hide="photobookError">
                            <div class="info">
                                <h2>Your photo book form has been submitted!</h2>
                            </div>
                            <p>
                                If you have any questions or changes to your submission, please contact <a href="mailto:terry_perez@agilent.com">terry_perez@agilent.com</a>
                                <br/>Also, please remember to <span class="strong">send Terry Perez your personal photo</span> for inclusion in the photo book.
                                <br/><p class="margin-top-20"><button type="button" class="btn btn-cancel" data-dismiss="modal" aria-label="Close" ng-click="photobookError = false">CLOSE</button></p>
                            </p>
                        </div>
                        <div class="col col-md-11 col-xs-11 center" ng-show="photobookError">
                            <div class="info">
                                <h2>There was a problem!</h2>
                            </div>
                            <p>
                                There was a problem submitting your information. Please try again.
                            </p>
                            <p class="margin-top-20"><button type="button" class="btn btn-cancel" data-dismiss="modal" aria-label="Close" ng-click="photobookError = false">CLOSE</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tuxedo Form Modal -->
<div class="modal fade" id="tuxedoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-heading">
                    <div class="wave">
                        <div>
                            <br/>
                            <span class="step-name">TUXEDO RENTAL FORM</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container form">
                    <div class="row">
                        <div class="col col-md-11 col-xs-11">
                            <p>
                                The tuxedo package is for <span class="strong">MEN ONLY</span> and includes tuxedo jacket, tuxedo pants and shirt, bow tie, cummerbund, cuff links and dress shoes. Please be sure to bring your own socks. For the most accurate measurement, have someone help you with a tape measure. <span class="strong">PLEASE NOTE: If you plan to wear your own tuxedo to the gala, you must inform <a href="mailto:terry_lincoln@agilent.com?bcc=michael_mihojevich@agilent.com&subject=Tuxedo">terry_lincoln@agilent.com</a></span>
                            </p>
                        </div>
                    </div>
                    <!-- TUXEDO ENTRY -->
                    <form name="tuxedoForm" ng-submit="postTuxedo()" novalidate>
                        <div class="row" style="margin-top:0;">
                            <div class="col col-md-4 col-xs-5">
                                <h3 class="yellow">PERSONAL INFO</h3>
                            </div>
                            <div class="col col-md-7 col-xs-8 padding-top-20">
                                <div class="pull-right"><span class="yellow">*</span> <span class="show-required">DENOTES REQUIRED FIELD</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : tuxedoForm.first.$invalid && !tuxedoForm.first.$pristine }">
                                <span class="asterisk">*</span> First Name
                                <input type="text" name="first" class="form-control required" placeholder="" ng-model="tuxModel.first" required>
                                <p ng-show="tuxedoForm.first.$invalid && !tuxedoForm.first.$pristine" class="error">First name is required.</p>
                            </div>
                            <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : tuxedoForm.last.$invalid && !tuxedoForm.last.$pristine }">
                                <span class="asterisk">*</span> Last Name
                                <input type="text" name="last" class="form-control required" placeholder="" ng-model="tuxModel.last" required>
                                <p ng-show="tuxedoForm.last.$invalid && !tuxedoForm.last.$pristine" class="error">Last name is required.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : tuxedoForm.email.$invalid && !tuxedoForm.email.$pristine }">
                                <span class="asterisk">*</span> Email
                                <input type="email" name="email" class="form-control required" placeholder="" ng-model="tuxModel.email" required>
                                <p ng-show="tuxedoForm.email.$invalid && !tuxedoForm.email.$pristine" class="error">Email name is required.</p>
                            </div>
                            <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : tuxedoForm.last.$invalid && !tuxedoForm.last.$pristine }">
                                <span class="asterisk">*</span> Phone Number
                                <input class="form-control ng-pristine ng-untouched ng-valid" id="phone" name="phone" ui-mask="(999) 999-9999" ng-model="tuxModel.phone" placeholder="" ui-mask-placeholder="" required>
                                <p ng-show="tuxedoForm.last.$invalid && !tuxedoForm.last.$pristine" class="error">Phone is required.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-4 col-xs-5">
                                <h3 class="yellow">MEASUREMENTS</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-2 col-xs-3" ng-class="{ 'has-error' : tuxedoForm.height.$invalid && !tuxedoForm.height.$pristine }">
                                <span class="asterisk">*</span> Height
                                <input type="text" name="height" class="form-control required" placeholder="" ng-model="tuxModel.measurements.height" required>
                                <p ng-show="tuxedoForm.height.$invalid && !tuxedoForm.height.$pristine" class="error">Height is required.</p>
                            </div>
                            <div class="col col-md-2 col-xs-3" ng-class="{ 'has-error' : tuxedoForm.weight.$invalid && !tuxedoForm.weight.$pristine }">
                                <span class="asterisk">*</span> Weight
                                <input type="text" name="weight" class="form-control required" placeholder="" ng-model="tuxModel.measurements.weight" required>
                                <p ng-show="tuxedoForm.weight.$invalid && !tuxedoForm.weight.$pristine" class="error">Weight is required.</p>
                            </div>
                            <div class="col col-md-7 col-xs-8">
                                <p class="normal padding-top-20">Measure from top of head to the floor without shoes for height.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-4 col-xs-5" ng-class="{ 'has-error' : tuxedoForm.waist.$invalid && !tuxedoForm.waist.$pristine }">
                                <span class="asterisk">*</span> Waist
                                <input type="text" name="waist" class="form-control required" placeholder="" ng-model="tuxModel.measurements.waist" required>
                                <p ng-show="tuxedoForm.waist.$invalid && !tuxedoForm.waist.$pristine" class="error">Waist is required.</p>
                            </div>
                            <div class="col col-md-7 col-xs-8">
                                <p class="normal">Tuxedo trousers have a longer rise than most trousers; therefore they must be worn higher than the waist. To find the proper fit, measure just above the hipbone across the navel. Make sure there is no bulky material around the waist. Insert a finger between the tape and the body to insure proper ease.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-4 col-xs-5" ng-class="{ 'has-error' : tuxedoForm.outSeam.$invalid && !tuxedoForm.outSeam.$pristine }">
                                <span class="asterisk">*</span> Out Seam
                                <input type="text" name="outSeam" class="form-control required" placeholder="" ng-model="tuxModel.measurements.outSeam" required>
                                <p ng-show="tuxedoForm.outSeam.$invalid && !tuxedoForm.outSeam.$pristine" class="error">Out Seam is required.</p>
                            </div>
                            <div class="col col-md-7 col-xs-8">
                                <p class="normal">Stand straight with eyes looking forward. Draw an imaginary line horizontal from the navel to just above the hips. Extend the tape down the side of the leg to the outside arch of the shoe. This measurement gives you the length of the trousers as well as a guide for coat length. Make sure you are wearing shoes you will be wearing for the event, or a close approximation.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-4 col-xs-5" ng-class="{ 'has-error' : tuxedoForm.coatInsleeve.$invalid && !tuxedoForm.coatInsleeve.$pristine }">
                                <span class="asterisk">*</span> Coat Insleeve
                                <input type="text" name="coatInsleeve" class="form-control required" placeholder="" ng-model="tuxModel.measurements.coatInsleeve" required>
                                <p ng-show="tuxedoForm.coatInsleeve.$invalid && !tuxedoForm.coatInsleeve.$pristine" class="error">Coat Insleeve is required.</p>
                            </div>
                            <div class="col col-md-7 col-xs-8">
                                <p class="normal">This is a measurement of the coat itself. It is the distance between the cuff of the coat sleeve to the underarm following the inside seam of the sleeve. If you should need the sleeves altered from the standard lengths, indicate it with your request.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-4 col-xs-5" ng-class="{ 'has-error' : tuxedoForm.hip.$invalid && !tuxedoForm.hip.$pristine }">
                                <span class="asterisk">*</span> Hip
                                <input type="text" name="hip" class="form-control required" placeholder="" ng-model="tuxModel.measurements.hip" required>
                                <p ng-show="tuxedoForm.hip.$invalid && !tuxedoForm.hip.$pristine" class="error">Hip is required.</p>
                            </div>
                            <div class="col col-md-7 col-xs-8">
                                <p class="normal">This is often overlooked, but very important measurement. Even though the waist may measure a certain size, the hips must be able to fit into the trouser without pulling. Remove any bulky articles from your pockets. Place the tape directly over the pants around the largest part of the seat.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-4 col-xs-5" ng-class="{ 'has-error' : tuxedoForm.chest.$invalid && !tuxedoForm.chest.$pristine }">
                                <span class="asterisk">*</span> Chest
                                <input type="text" name="chest" class="form-control required" placeholder="" ng-model="tuxModel.measurements.chest" required>
                                <p ng-show="tuxedoForm.chest.$invalid && !tuxedoForm.chest.$pristine" class="error">Chest is required.</p>
                            </div>
                            <div class="col col-md-7 col-xs-8">
                                <p class="normal">This measurement is taken with the coat off, around the chest. Place the tape well up under the arms, over the shoulder blades, and over the chest in front. Insert finger between the tape and the body to insure proper ease. For a true measurement make sure you are not flexing your chest and your arms are down at your sides.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-4 col-xs-5" ng-class="{ 'has-error' : tuxedoForm.coatInsleeve.$invalid && !tuxedoForm.neck.$pristine }">
                                <span class="asterisk">*</span> Neck
                                <input type="text" name="neck" class="form-control required" placeholder="" ng-model="tuxModel.measurements.neck" required>
                                <p ng-show="tuxedoForm.neck.$invalid && !tuxedoForm.neck.$pristine" class="error">Neck is required.</p>
                            </div>
                            <div class="col col-md-7 col-xs-8">
                                <p class="normal">Measure the collar unbuttoned. Place the tape low on the neck where the shirt collar normally falls. Allow a finger space between the neck and the tape. Make sure this measurement is in proportion to the other measurements.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-4 col-xs-5" ng-class="{ 'has-error' : tuxedoForm.sleeve.$invalid && !tuxedoForm.sleeve.$pristine }">
                                <span class="asterisk">*</span> Sleeve
                                <input type="text" name="sleeve" class="form-control required" placeholder="" ng-model="tuxModel.measurements.sleeve" required>
                                <p ng-show="tuxedoForm.sleeve.$invalid && !tuxedoForm.sleeve.$pristine" class="error">Sleeve is required.</p>
                            </div>
                            <div class="col col-md-7 col-xs-8">
                                <p class="normal">With the arm straight down at your side, place tape at the base of the neck in back. Extend tape across the top of the shoulder, and down the arm to a point about one inch below the wrist bone. This measurement is for the shirt sleeve length which can also help to determine the coat length.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-2 col-xs-3" ng-class="{ 'has-error' : tuxedoForm.shoeSize.$invalid && !tuxedoForm.shoeSize.$pristine }">
                                <span class="asterisk">*</span> Shoe Size
                                <input type="text" name="shoeSize" class="form-control required" placeholder="" ng-model="tuxModel.measurements.shoeSize" required>
                                <p ng-show="tuxedoForm.shoeSize.$invalid && !tuxedoForm.shoeSize.$pristine" class="error">Shoe Size is required.</p>
                            </div>
                            <div class="col col-md-2 col-xs-3" ng-class="{ 'has-error' : tuxedoForm.shoeWidth.$invalid && !tuxedoForm.shoeWidth.$pristine }">
                                <span class="asterisk">*</span> Shoe Width
                                <input type="text" name="shoeWidth" class="form-control required" placeholder="" ng-model="tuxModel.measurements.shoeWidth" required>
                                <p ng-show="tuxedoForm.shoeWidth.$invalid && !tuxedoForm.shoeWidth.$pristine" class="error">Shoe Width name is required.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-4 col-xs-5">
                                Guest Of...
                                <input type="text" name="guestOf" class="form-control" placeholder="" ng-model="tuxModel.guestOf">
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col col-md-11 col-xs-11">
                                <button type="button" class="btn btn-cancel pull-left" data-dismiss="modal" aria-label="Close" ng-click="cancelModal('tuxedo')">CANCEL</button>
                                <button type="submit" class="btn btn-form pull-right" ng-disabled="tuxedoForm.$invalid">SUBMIT FORM <i class="fa fa-angle-right fa-lg"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tuxedo Form Response Modal -->
<div class="modal fade" id="tuxedoModalResponse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-heading">
                    <div class="wave">
                        <div>
                            <br/>
                            <span class="step-name">TUXEDO RENTAL FORM</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container form">
                    <div class="row">
                        <div class="col col-md-11 col-xs-11 center" ng-hide="tuxedoError">
                            <div class="info">
                                <h3>
                                    Your tuxedo rental form has been submitted!
                                </h3>
                            </div>
                            <p>
                                If you have any questions or changes to your submission, please contact <a href="mailto:terry_perez@agilent.com">terry_perez@agilent.com</a>
                                <br/><p class="margin-top-20"><button type="button" class="btn btn-cancel" data-dismiss="modal" aria-label="Close" ng-click="tuxedoError = false">CLOSE</button></p>
                            </p>
                        </div>
                        <div class="col col-md-11 col-xs-11 center" ng-show="tuxedoError">
                            <div class="info">
                                <h2>There was a problem!</h2>
                            </div>
                            <p>
                                There was a problem submitting your information. Please try again.
                            </p>
                            <p class="margin-top-20"><button type="button" class="btn btn-cancel" data-dismiss="modal" aria-label="Close" ng-click="tuxedoError = false">CLOSE</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tuxedo FAQ Modal -->
<div class="modal fade" id="tuxedoFaqModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-heading">
                    <div class="wave">
                        <div>
                            <br/>
                            <span class="step-name">TUXEDO RENTAL FAQ</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row margin-bottom-30">
                        <div class="col col-md-11 col-xs-11">
                            <p class="normal margin-top-20">
                                Here are some commonly asked questions regarding dress attire for the gala event:
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-8 col-xs-9">
                            <p class="margin-bottom-20"><span class="strong">Q: WHAT IS A TUXEDO?</span>
                                <br/>It’s a formal black suit.</p>
                            <p class="margin-bottom-20"><span class="strong">Q: WHO SHOULD WEAR A TUXEDO?</span>
                                <br/>Typically men wear a tuxedo.</p>
                            <p class="margin-bottom-20"><span class="strong">Q: WHAT DOES A TUXEDO INCLUDE?</span>
                                <br/>Shirt, tie, pants, and shoes.  You must provide your own socks.</p>
                            <p class="margin-bottom-20"><span class="strong">Q:  SHOULD I HAVE MY MALE GUEST WEAR A TUXEDO, AND IF SO, SHOULD HE FILL OUT THE FORM?</span>
                                <br/>Yes and yes.</p>
                        </div>
                        <div class="col col-md-3 col-xs-4">
                            <img src="images/tuxedo.0be92c18.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-11 col-xs-12">
                            <p class="margin-bottom-20"><span class="strong">Q:  WHO PAYS FOR THE TUXEDO RENTAL?</span>
                                <br/>The cost of the tuxedo rental is directly billed to Agilent.</p>
                            <p class="margin-bottom-20"><span class="strong">Q:  WHERE DO I PICK UP MY TUXEDO?</span>
                                <br/>At the Kahala Hotel.  After you’ve arrived, you’ll go to a designated room at the Kahala to pick up your tuxedo.</p>
                            <p class="margin-bottom-20"><span class="strong">Q:  WHAT IF MY TUXEDO DOESN’T FIT?</span>
                                <br/>The tuxedo company will be on site at the Kahala and they will make any alternations needed.</p>
                            <p class="margin-bottom-20"><span class="strong">Q:  MAY I WEAR MY OWN TUXEDO?</span>
                                <br/>Of course.  <a href="mailto:terry_lincoln@agilent.com">Just send me an email</a> and let me know.</p>
                            <p class="margin-bottom-20"><span class="strong">Q:  IS NATIVE DRESS FROM MY HOME COUNTRY ACCEPTABLE?</span>
                                <br/>Yes!  Native dress is encouraged for this evening.</p>
                            <p><span class="strong">Q:  WHAT TYPE OF "FORMAL" WEAR IS RECOMMENDED FOR WOMEN?</span>
                                <br/>A short cocktail dress or a long gown is considered formal dressing for women (see examples below)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-11 col-xs-12 center">
                            <img src="images/dress.c770f9b8.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
