<div class="container heading">
    <div>
        <h4>
            CONGRATULATIONS, YOU’RE A WINNER OF THE 2015-2016
        </h4>
        <br/>
        <h1>
            PRESIDENT'S CLUB
        </h1>
    </div>
    <div class="lead">MARCH 1-5, 2016
        <div class="seal"></div> HONOLULU, HAWAII</div>
</div>
<div class="panel panel-default">
    <div class="form-heading">
        <div class="wave">
            <div>
                <div class="pull-right"></div>
                <span class="step"></span>
                <br/>
                <!-- <span class="step-name">THE AWARD</span> -->
                <button type="button" class="btn btn-wave" ng-click="next('/')"><i class="fa fa-home"></i></button>
                <button type="button" class="btn btn-wave active" style="width:150px;">OVERVIEW</button>
                <button type="button" class="btn btn-wave" style="width:150px;" ng-click="next('/activities')">ACTIVITIES</button>
                <button type="button" class="btn btn-wave" style="width:150px;" ng-click="next('/faq')">FAQ</button>
            </div>
        </div>
    </div>
    <div class="panel-body no-pad">
        <div class="container">
            <div class="row margin-top-20">
                <div class="col col-md-11 col-xs-11">
                    <div class="info">
                        <h1 class="margin-bottom-20">What You Need to Know</h1>
                        <h4 class="strong">To participate in the 2015-2016 President’s Club, you MUST complete all three registration steps below. You will NOT be able to save your progress during the submission process, so please have all of your information ready prior to starting any of the registration forms.</h4>
                        <p class="normal">
                            You and your guest will be joining your peers and their guests in celebration and recognition of your contributions to Agilent Technologies in 2015. Pack your resort clothes, sunscreen, a hat, and prepare to immerse yourself in the unique Hawaiian hospitality of Oahu.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col col-md4 col-xs-4" style="width: 36%;">
                    <div class="info">
                        <p class="heading"><span class="bullet">1</span> TRAVEL REGISTRATION</p>
                        <p class="normal">
                            Winner's of the 2015-2016 President's Club must
                            <br/> register for travel by January 16, 2016. Travel
                            <br/> registration will be managed by HRG and winners
                            <br/> can register any time after December 11, 2015.
                        </p>
                        <p class="heading margin-top-30"><span class="bullet">2</span> TUXEDO RENTAL</p>
                        <p class="normal">
                            The main event of the President's Club celebration
                            <br/> is a black-tie affair, requiring each winner to dress
                            <br/> their finest. In order to ensure a good fit, please
                            <br/> be sure to submit your tuxedo rental form by January 16, 2016. <a data-toggle="modal" data-target="#tuxedoFaqModal">Read the Tuxedo Rental FAQ</a>
                        </p>
                        <p class="heading margin-top-30"><span class="bullet">3</span> PHOTO BOOK</p>
                        <p class="normal">
                            As part of the President's Club celebration,
                            <br/> winners and managers will receive a photo booklet
                            <br/> with their welcome packets. Please be sure to
                            <br/> submit your photo book form by January 16, 2016.
                        </p>
                    </div>
                </div>
                <div class="col col-md3 col-xs-3 center padding-left-40">
                    <div class="width-200" style="margin-top:65px;">
                        <button type="button" class="btn btn-approve btn-block" ng-click="gotoUrl('https://starciteap.smarteventscloud.com/register/m9896ce-11QT1VMOC852T')">REGISTER TRAVEL</button>
                        <div class="padding-top-5">
                            <span class="small-yellow">You must register by Jan 16, 2016</span>
                        </div>
                    </div>
                    <br/>
                    <div class="width-200" style="margin-top:78px;">
                        <button type="button" class="btn btn-approve btn-block" ng-click="next('/tuxedo')">TUXEDO FORM</button>
                        <div class="padding-top-5">
                            <span class="small-yellow">You must submit by Jan 16, 2016</span>
                        </div>
                    </div>
                    <br/>
                    <div class="width-200" style="margin-top:97px;">
                        <button type="button" class="btn btn-approve btn-block" ng-click="next('/photobook')">PHOTO BOOK FORM</button>
                        <div class="padding-top-5">
                            <span class="small-yellow">You must submit by Jan 16, 2016</span>
                        </div>
                    </div>
                </div>
                <div class="col col-md4 col-xs-4">
                    <div class="info">
                        <p class="heading" style="margin-top:15px;">
                            TIMELINE
                        </p>
                        <div>
                            <div class="pull-left">
                                <div class="timeline"></div>
                            </div>
                            <div class="pull-left" style="margin-left:-30px;">
                                <ul class="none margin-top-15">
                                    <li>
                                        DECEMBER 11, 2015
                                        <br/> <span class="detail">TRAVEL REGISTRATION OPEN</span>
                                    </li>
                                    <li style="margin-top:62px;">
                                        JANUARY 16, 2016
                                        <br/> <span class="detail">TRAVEL REGISTRATION CLOSED</span>
                                    </li>
                                    <li style="margin-top:60px;">
                                        JANUARY 16, 2016
                                        <br/> <span class="detail">TUXEDO RENTAL FORM DUE</span>
                                    </li>
                                    <li style="margin-top:60px;">
                                        JANUARY 16, 2016
                                        <br/> <span class="detail">PHOTO BOOK FORM DUE</span>
                                    </li>
                                    <li style="margin-top:60px;">
                                        FEBRUARY 29 & MARCH 1, 2016
                                        <br/> <span class="detail">DEPART FOR HAWAII</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-heading">
        <div class="wave">
            <div class="margin-top-20">
                <br/>
                <span class="step-name">CONTACT INFORMATION</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row margin-top-20">
                <div class="col col-md-6 col-xs-6 padding-left-40">
                    <h4 class="strong">Questions about the President’s Club:</h4>
                    <p class="normal">
                        <span class="strong">Dorothy Connell</span>
                        <br/> <a href="mailto:dorothy_connell@agilent.com">dorothy_connell@agilent.com</a>
                        <br/> 408-345-8261 (office)
                        <br/> 408-807-3300 (mobile)
                        <br/> 408-345-8891 (fax)
                        <br/>
                        <br/> <span class="strong">President's Club Program Manager</span>
                        <br/> ATTN: Dorothy Connell
                        <br/> 5301 Stevens Creek Boulevard, MS 1A-15
                        <br/> Santa Clara, CA 95051
                    </p>
                </div>
                <div class="col col-md-5 col-xs-5">
                    <h4 class="strong">Questions about your travel plans:</h4>
                    <p class="normal">
                        <span class="strong">Cathy Cortese at HRG Travel</span>
                        <br/> 1-855-747-3597, ext 1480
                        <br/> 7:30 am to 7:30 pm (CST)
                        <br/> <a href="mailto:agilent.na@hrgworldwide.com">agilent.na@hrgworldwide.com</a>
                        <br/>
                        <br/> <span class="strong">Note:</span> For international travel, please contact your local travel agency.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tuxedo FAQ Modal -->
<div class="modal fade" id="tuxedoFaqModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-heading">
                    <div class="wave">
                        <div>
                            <br/>
                            <span class="step-name">TUXEDO RENTAL FAQ</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row margin-bottom-30">
                        <div class="col col-md-11 col-xs-11">
                            <p class="normal margin-top-20">
                                Here are some commonly asked questions regarding dress attire for the gala event:
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-8 col-xs-9">
                            <p class="margin-bottom-20"><span class="strong">Q: WHAT IS A TUXEDO?</span>
                                <br/>It’s a formal black suit.</p>
                            <p class="margin-bottom-20"><span class="strong">Q: WHO SHOULD WEAR A TUXEDO?</span>
                                <br/>Typically men wear a tuxedo.</p>
                            <p class="margin-bottom-20"><span class="strong">Q: WHAT DOES A TUXEDO INCLUDE?</span>
                                <br/>Shirt, tie, pants, and shoes.  You must provide your own socks.</p>
                            <p class="margin-bottom-20"><span class="strong">Q:  SHOULD I HAVE MY MALE GUEST WEAR A TUXEDO, AND IF SO, SHOULD HE FILL OUT THE FORM?</span>
                                <br/>Yes and yes.</p>
                        </div>
                        <div class="col col-md-3 col-xs-4">
                            <img src="images/tuxedo.0be92c18.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-11 col-xs-12">
                            <p class="margin-bottom-20"><span class="strong">Q:  WHO PAYS FOR THE TUXEDO RENTAL?</span>
                                <br/>The cost of the tuxedo rental is directly billed to Agilent.</p>
                            <p class="margin-bottom-20"><span class="strong">Q:  WHERE DO I PICK UP MY TUXEDO?</span>
                                <br/>At the Kahala Hotel.  After you’ve arrived, you’ll go to a designated room at the Kahala to pick up your tuxedo.</p>
                            <p class="margin-bottom-20"><span class="strong">Q:  WHAT IF MY TUXEDO DOESN’T FIT?</span>
                                <br/>The tuxedo company will be on site at the Kahala and they will make any alternations needed.</p>
                            <p class="margin-bottom-20"><span class="strong">Q:  MAY I WEAR MY OWN TUXEDO?</span>
                                <br/>Of course.  <a href="mailto:terry_lincoln@agilent.com">Just send me an email</a> and let me know.</p>
                            <p class="margin-bottom-20"><span class="strong">Q:  IS NATIVE DRESS FROM MY HOME COUNTRY ACCEPTABLE?</span>
                                <br/>Yes!  Native dress is encouraged for this evening.</p>
                            <p><span class="strong">Q:  WHAT TYPE OF "FORMAL" WEAR IS RECOMMENDED FOR WOMEN?</span>
                                <br/>A short cocktail dress or a long gown is considered formal dressing for women (see examples below)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-11 col-xs-12 center">
                            <img src="images/dress.c770f9b8.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
