<div class="container heading">
    <div>
        <h4>
            CONGRATULATIONS, YOU’RE A WINNER OF THE 2015-2016
        </h4>
        <br/>
        <h1>
            PRESIDENT'S CLUB
        </h1>
    </div>
    <div class="lead">MARCH 1-5, 2016
        <div class="seal"></div> HONOLULU, HAWAII</div>
</div>
<div class="panel panel-default">
    <div class="form-heading">
        <div class="wave">
            <div>
                <div class="pull-right"></div>
                <span class="step"></span>
                <br/>
                <!-- <span class="step-name">THE AWARD</span> -->
                <button type="button" class="btn btn-wave" ng-click="next('/')"><i class="fa fa-home"></i></button>
                <button type="button" class="btn btn-wave active" ng-click="next('/overview')" style="width:150px;">OVERVIEW</button>
                <button type="button" class="btn btn-wave" style="width:150px;" ng-click="next('/activities')">ACTIVITIES</button>
                <button type="button" class="btn btn-wave" style="width:150px;" ng-click="next('/faq')">FAQ</button>
            </div>
        </div>
    </div>
    <div class="panel-body no-pad">
        <div class="container form">
            <div class="row">
                <div class="col col-md-11 col-xs-11 info">
                    <h1 class="margin-bottom-20">Photo Book Form</h1>
                    <p>
                        Agilent Technologies President’s Club winners and managers will receive a photo booklet with their welcome packets.
                        <br/>Please respond to the questions below as concisely as possible.
                    </p>
                </div>
            </div>
            <!-- WINNER ENTRY -->
            <form name="userForm" class="margin-left-20" ng-submit="postPhotobook()" novalidate>
                <div class="row">
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.first.$invalid && !userForm.first.$pristine }">
                        <span class="asterisk">*</span> First Name
                        <input type="text" name="first" class="form-control required" placeholder="" ng-model="photobookModel.first" required>
                        <p ng-show="userForm.first.$invalid && !userForm.first.$pristine" class="error">First name is required.</p>
                    </div>
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.last.$invalid && !userForm.last.$pristine }">
                        <span class="asterisk">*</span> Last Name
                        <input type="text" name="last" class="form-control required" placeholder="" ng-model="photobookModel.last" required>
                        <p ng-show="userForm.last.$invalid && !userForm.last.$pristine" class="error">Last name is required.</p>
                    </div>
                    <div class="col col-md-3 col-xs-4">
                        <div class="pull-right"><span class="yellow">*</span> <span class="show-required">DENOTES REQUIRED FIELD</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-8 col-xs-8">
                        <span class="asterisk">*</span> Personal Photo
                        <p>
                            You must send a digital head shot of high quality (300 dpi - jpeg format) for inclusion in the photo booklet. <span class="strong">Please email your photo directly to</span> <a href="mailto:terry_perez@agilent.com?bcc=michael_mihojevich@agilent.com&subject=Photobook%20picture%20submission.">terry_perez@agilent.com.</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.org.$invalid && !userForm.org.$pristine }">
                        <span class="asterisk">*</span> Business Group
                        <select class="form-control required" ng-required="true" name="salesOrg" ng-model="photobookModel.salesOrg" ng-options="item.name for item in salesOrg track by item.id" required>
                            <option value="">Choose</option>
                        </select>
                        <p ng-show="userForm.salesOrg.$invalid && !userForm.salesOrg.$pristine" class="error">Business Group is required.</p>
                    </div>
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.title.$invalid && !userForm.title.$pristine }">
                        <span class="asterisk">*</span> Job Title
                        <input type="text" name="title" class="form-control required" placeholder="" ng-model="photobookModel.title" required>
                        <p ng-show="userForm.title.$invalid && !userForm.title.$pristine" class="error">Title is required.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.mgrFirst.$invalid && !userForm.mgrFirst.$pristine }">
                        <span class="asterisk">*</span> Manager's First Name
                        <input type="text" name="mgrFirst" class="form-control required" placeholder="" ng-model="photobookModel.mgrFirst" required>
                        <p ng-show="userForm.mgrFirst.$invalid && !userForm.mgrFirst.$pristine" class="error">Manager's First is required.</p>
                    </div>
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.mgrLast.$invalid && !userForm.mgrLast.$pristine }">
                        <span class="asterisk">*</span> Manager's Last Name
                        <input type="text" name="mgrLast" class="form-control required" placeholder="" ng-model="photobookModel.mgrLast" required>
                        <p ng-show="userForm.mgrLast.$invalid && !userForm.mgrLast.$pristine" class="error">Manager's Last Name is required.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.country.$invalid && !userForm.country.$pristine }">
                        <span class="asterisk">*</span> Winner's Country
                        <input type="text" name="country" class="form-control required" placeholder="" ng-model="photobookModel.country" required>
                        <p ng-show="userForm.country.$invalid && !userForm.country.$pristine" class="error">Winner's Country is required.</p>
                    </div>
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.guestName.$invalid && !userForm.guestName.$pristine }">
                        <span class="asterisk">*</span> Guest's Name
                        <input type="text" name="guestName" class="form-control required" placeholder="" ng-model="photobookModel.guestName" required>
                        <p ng-show="userForm.guestName.$invalid && !userForm.guestName.$pristine" class="error">Guest's Name is required.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3 col-xs-4" ng-class="{ 'has-error' : userForm.yos.$invalid && !userForm.yos.$pristine }">
                        <span class="asterisk">*</span> Years of Agilent Service
                        <input type="text" name="yos" class="form-control required" placeholder="" ng-model="photobookModel.yos" required>
                        <p ng-show="userForm.yos.$invalid && !userForm.yos.$pristine" class="error">Years of Service is required.</p>
                    </div>
                </div>
                <!-- Comments -->
                <div class="row">
                    <div class="col col-md-8 col-xs-8" ng-class="{ 'has-error' : userForm.like.$invalid && !userForm.like.$pristine }">
                        <span class="asterisk">*</span> What do you like most about Agilent? (50 words max)
                        <textarea name="like" class="form-control required" placeholder="" ng-model="photobookModel.comments.like" rows="5" cols="50" maximum-words-validation="50" required></textarea>
                        <p ng-show="userForm.like.$invalid && !userForm.like.$pristine" class="error">Comment is required.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-8 col-xs-8" ng-class="{ 'has-error' : userForm.goals.$invalid && !userForm.goals.$pristine }">
                        <span class="asterisk">*</span> List one of your goals for the next 5 years. (50 words max)
                        <textarea name="goals" class="form-control required" placeholder="" ng-model="photobookModel.comments.goals" rows="5" cols="50" maximum-words-validation="50" required></textarea>
                        <p ng-show="userForm.goals.$invalid && !userForm.goals.$pristine" class="error">Comment is required.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-8 col-xs-8" ng-class="{ 'has-error' : userForm.invision.$invalid && !userForm.invision.$pristine }">
                        <span class="asterisk">*</span> What direction do you envision Agilent taking in the next 5 years? (50 words max)
                        <textarea name="invision" class="form-control required" placeholder="" ng-model="photobookModel.comments.invision" rows="5" cols="50" maximum-words-validation="50" required></textarea>
                        <p ng-show="userForm.invision.$invalid && !userForm.invision.$pristine" class="error">Comment is required.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-8 col-xs-8" ng-class="{ 'has-error' : userForm.hobbies.$invalid && !userForm.hobbies.$pristine }">
                        <span class="asterisk">*</span> What are your hobbies and pastimes? (50 words max)
                        <textarea name="hobbies" class="form-control required" placeholder="" ng-model="photobookModel.comments.hobbies" rows="5" cols="50" maximum-words-validation="50" required></textarea>
                        <p ng-show="userForm.hobbies.$invalid && !userForm.hobbies.$pristine" class="error">Comment is required.</p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col col-md-11 col-xs-11">
                        <button type="button" class="btn btn-cancel pull-left" ng-click="cancelModal('photo')">RESET</button>
                        <button type="submit" class="btn btn-form pull-right" ng-disabled="userForm.$invalid">SUBMIT FORM <i class="fa fa-angle-right fa-lg"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Photobook Form Response Modal -->
<div class="modal fade" id="photobookModalResponse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-heading">
                    <div class="wave">
                        <div>
                            <br/>
                            <span class="step-name">PHOTO BOOK FORM</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container form">
                    <div class="row">
                        <div class="col col-md-11 col-xs-11 center" ng-hide="photobookError">
                            <div class="info">
                                <h2>Your photo book form has been submitted!</h2>
                            </div>
                            <p>
                                If you have any questions or changes to your submission, please contact <a href="mailto:terry_perez@agilent.com">terry_perez@agilent.com</a>
                                <br/>Also, please remember to <span class="strong">send Terry Perez your personal photo</span> for inclusion in the photo book.
                                <br/>
                                <p class="margin-top-20">
                                    <button type="button" class="btn btn-cancel" data-dismiss="modal" aria-label="Close" ng-click="closePhotoResponse('/overview')">BACK TO OVERVIEW</button>
                                </p>
                            </p>
                        </div>
                        <div class="col col-md-11 col-xs-11 center" ng-show="photobookError">
                            <div class="info">
                                <h2>There was a problem!</h2>
                            </div>
                            <p>
                                There was a problem submitting your information. Please try again.
                            </p>
                            <p class="margin-top-20">
                                <button type="button" class="btn btn-cancel" data-dismiss="modal" aria-label="Close" ng-click="photobookError = false">CLOSE</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
